<div class="mx-auto w-full">
  <div class="mx-auto">
    <%= render @vote_question %>

    <div class="flex items-center gap-4 mb-8" style="flex-wrap: wrap">
      <%= authorized_link_to 'Vissza a szövegekhez', vote_questions_path, class: "btn-outline" %>
      <%= authorized_link_to 'Szerkesztés', edit_vote_question_path(@vote_question), class: 'btn' %>
      <%= button_to 'Törlés', vote_question_path(@vote_question), method: :delete, class: "btn-red",
                    form_class: 'inline ml-auto' %>
    </div>
  </div>
</div>
